<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body>
<div id="moen" class="flowplayer fp-slim"></div>
<div id="dua" class="flowplayer fp-slim"></div>
<!-- konten -->
   <script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 30,
    liveSyncDuration: 30
  };
flowplayer("#moen", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "{{.Site.BaseURL}}n.mp4"  }
    ],
flowplayer("#dua", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "{{.Site.BaseURL}}n.mp4"  }
    ],
  }
});
</script>
</body>
</html>
