<footer id="footer" class="copyright">
<script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 0,
    liveSyncDuration: 0
  };
flowplayer("#8", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "https://drive.google.com/uc?export=download&id=1XsVRnypnKGt9hSpw7uYaDqnIFKoU3WSm"  }
    ],
    title: "episode 8"
  }
});
</script>
<script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 0,
    liveSyncDuration: 0
  };
flowplayer("#9", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "https://drive.google.com/uc?export=download&id=1hKNQclH7h8fJSNQ__vtnnQKaJmTj1Lbo"  }
    ],
    title: "episode 9"
  }
});
</script>
<script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 0,
    liveSyncDuration: 0
  };
flowplayer("#10", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "https://drive.google.com/uc?export=download&id=1czbH1VSkKJVdNsv_d8CbDgKNhsgpsuU3"  }
    ],
    title: "episode 10"
  }
});
</script>
<script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 0,
    liveSyncDuration: 0
  };
flowplayer("#11", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "https://drive.google.com/uc?export=download&id=1ngTW7td0iY22WAojlWtb9WQY9DMAT4MW"  }
    ],
    title: "episode 11"
  }
});
</script>
<script type="text/javascript">
flowplayer.conf.hlsjs = {
    maxBufferSize: 0,
    maxBufferLength: 0,
    liveSyncDuration: 0
  };
flowplayer("#12", {
  aspectRatio: "11:6",
  clip: {
    sources: [
      { type: "video/mp4",
        src: "https://drive.google.com/uc?export=download&id=16OzGL_ihMuEqI6OoI65rOIHwEEMBMdjT"  }
    ],
    title: "episode 12"
  }
});
</script>

</footer>