<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- flowplayer depends on jQuery 1.7.1+ (for now) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- flowplayer.js -->
   <script type="text/javascript" src="{{.Site.BaseURL}}js/flowplayer.min.js"></script>
   <script src="//cdn.flowplayer.com/releases/native/stable/plugins/hls.min.js"></script>
   <!-- player styling -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flowplayer/7.2.7/skin/skin.min.css">
</head>